<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Service Reference:</strong>
  <%= @service.service_reference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Fields:</strong>
  <%= @service.fields %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category.name %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
